.container{
    text-align: center;
    margin-top:50px;}
    body{
        width:100%;
       height: 100vh;
    animation: changebg 10s linear infinite ;
    display: grid;
    place-items: center;
    background-color: royalblue;
}
@keyframes changebg{
    0%{
        background-color:royalblue;
    }
    20%{
        background-color:darkturquoise;
    }
    40%{
        background-color: honeydew;
    }
    60%{
        background-color: royalblue;
    }
    80%{
        background-color: royalblue;
    }
    90%{
        background-color: royalblue;
    }
    100%{
        background-color: royalblue;
    }

}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 35px;
    background: #dcf35c;
    width: 95px;
    height: 90px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #13695d;
    background-color: #18a493;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;

}

h1{
    font-size:60px;
    font-family: 'Akkura New',Akkurat , Akkurat;

} 